<a href="javascript:///" onclick="$('description').value = $('suggesd').firstChild.data; $('suggesteddescr').innerHTML = '';" title="Use suggested description"/>
<img src="/images/icons/paste.png" style="float: right; margin: .5em;" />
<span id="suggesd"><%= h @text %></span> </a>