<ul class="ajaxbugs">
  <% @bugs.each do |bug| %>
  <% if bug.is_a?(String) %>
  <li class="ajaxbugs-error"><%= bug %></li>
  <% else %>
  <li><%= link_to bug.bug_id, nil, :onclick => "buginfo('#{bug.bug_id}')" %>:
    <%= truncate(bug.summary, :length => 50) %></li>
  <% end %>
  <% end %>
</ul>