<a href="javascript:///" onclick="$('title').value = $('suggesd').firstChild.data; $('suggesteddescr').innerHTML = '';" title="Use suggested description">
<img src="/assets/icons/paste.png" style="float: right; margin: .5em;" />
<span id="suggesd"><%= h @text %></span> </a>