{{define "head"}}
    <head>
        <title>Gentoo GLSAMaker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#54487a">
        <meta name="description" content="Gentoo CVE Tool">
        <script src="/assets/stylesheets.js"></script>
        <script src="/assets/application.js"></script>
        <link rel="icon" href="https://packages.gentoo.org/favicon.ico" type="image/x-icon">
    </head>
{{end}}
