<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" .}}

<div class="container mb-5 text-center pt-5 ">

    <div class="mt-4"></div>

    <i style="font-size: 1000%;" class="fa fa-lock mt-5" aria-hidden="true"></i>

    <h1 class="font-weight-bolder mt-4">- ACCESS DENIED -</h1>

    <h1 style="font-size: 200%; max-width:500px; " class="mx-auto">Sorry, you are missing the necessary rights to access this page.</h1>



</div>


{{template "footer" .}}


</body>
</html>
