{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        <h1>GLSA Archive</h1>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>GLSA ID</th>
                <th>Title</th>
                <th>Submitted At</th>
                <th>Submitted By</th>
                <th>Acked By</th>
            </tr>
        {% for glsa in glsas %}
            <tr>
                <td class="bordered"><a href="/glsa/{{ glsa.glsa_id }}">{{ glsa.glsa_id }}</a></td>
                <td class="bordered">{{ glsa.title }}</td>
                {% if glsa.submitted_time %}
                <td class="bordered">{{ glsa.submitted_time.strftime("%Y-%m-%d %H:%M") | default("Unknown", true) }}</td>
                {% else %}
                <td class="bordered">{{ glsa.submitted_time | default("Unknown", true) }}</td>
                {% endif %}
                <td class="bordered">{{ uid_to_nick(glsa.requester) | default("Unknown", true) }}</td>
                <td class="bordered">{{ uid_to_nick(glsa.acked_by) | default("Unknown", true) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
