<!DOCTYPE html>
<html>
    <head>
        <title>GLSAMaker</title>
        <link href="https://assets.gentoo.org/tyrian/tyrian.min.css" rel="stylesheet" media="screen">
        <link href="https://assets.gentoo.org/tyrian/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="/static/main.js"></script>
        <script src="https://assets.gentoo.org/tyrian/jquery.min.js"></script>
        <script src="https://assets.gentoo.org/tyrian/bootstrap.min.js"></script>
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>
