<!DOCTYPE html>
<html>
    <head>
        <title>GLSAMaker</title>
		<script src="/static/main.js"></script>
		<style>
		 label {
			 display: inline-block;
			 width: 10em;
			 text-align: right;
		 }
		 div {
			 padding: 5px;
		 }
		 .bordered {
			 padding: 4px;
			 border: 1px solid black;
		 }
		 th.button, td.button {
			 width: 100%;
		 }
		 ul {
			 list-style-type: none;
			 margin: 0;
			 padding: 0;
		 }
		 li {
			 display: inline-block;
		 }
		</style>
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>
