<header>
    <div class="site-title">
        <div class="container">
            <div class="row">
                <div class="site-title-buttons">
                    <div class="btn-group btn-group-sm">
                        <a href="https://get.gentoo.org/" type="button" class="btn get-gentoo">
                            <span class="fa fa-download"></span>
                            <strong>Get Gentoo!</strong>
                        </a>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn gentoo-org-sites dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-globe"></span>
                                gentoo.org sites
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://www.gentoo.org/" title="Main Gentoo website">
                                        <span class="fa fa-home fa-fw">
                                        </span>
                                        gentoo.org
                                    </a>
                                </li>
                                <li>
                                    <a href="https://wiki.gentoo.org/" title="Find and contribute documentation">
                                        <span class="fa fa-file-text fa-fw">
                                        </span>
                                        Wiki
                                    </a>
                                </li>
                                <li>
                                    <a href="https://bugs.gentoo.org/" title="Report issues and find common issues">
                                        <span class="fa fa-bug fa-fw">
                                        </span>
                                        Bugs
                                    </a>
                                </li>
                                <li>
                                    <a href="https://forums.gentoo.org/" title="Discuss with the community">
                                        <span class="fa fa-comments-o fa-fw">
                                        </span>
                                        Forums
                                    </a>
                                </li>
                                <li>
                                    <a href="https://packages.gentoo.org/" title="Find software for your Gentoo">
                                        <span class="fa fa-hdd-o fa-fw">
                                        </span>
                                        Packages
                                    </a>
                                </li>
                                <li>
                                    <div class="divider">
                                    </div>
                                </li>
                                <li>
                                    <a href="https://overlays.gentoo.org/" title="Collaborate on maintaining packages">
                                        <span class="fa fa-code-fork fa-fw">
                                        </span>
                                        Overlays
                                    </a>
                                </li>
                                <li>
                                    <a href="https://planet.gentoo.org/" title="Find out what's going on in the developer community">
                                        <span class="fa fa-rss fa-fw">
                                        </span>
                                        Planet
                                    </a>
                                </li>
                                <li>
                                    <a href="https://archives.gentoo.org/" title="Read up on past discussions">
                                        <span class="fa fa-archive fa-fw">
                                        </span>
                                        Archives
                                    </a>
                                </li>
                                <li>
                                    <a href="https://sources.gentoo.org/" title="Browse our source code">
                                        <span class="fa fa-code fa-fw">
                                        </span>
                                        Sources
                                    </a>
                                </li>
                                <li>
                                    <div class="divider">
                                    </div>
                                </li>
                                <li>
                                    <a href="https://infra-status.gentoo.org/" title="Get updates on the services provided by Gentoo">
                                        <span class="fa fa-tasks fa-fw">
                                        </span>
                                        Infra Status
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <img src="https://assets.gentoo.org/tyrian/site-logo.png" alt="Gentoo Linux Logo">
                    <span class="site-label">GLSAMaker: Now Pretty!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <nav class="tyrian-navbar" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="/drafts">Drafts</a>
                        </li>
                        <li>
                            <a href="/edit_glsa">New GLSA</a>
                        </li>
                        <li>
                            <a href="/newbugs">New From Bugs</a>
                        </li>
                        <li>
                            <a href="/archive">Archive</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
