{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
{% if new %}
<h1>New GLSA</h1>
{% else %}
<h1>Edit GLSA</h1>
{% endif %}
<h3>{{ glsa.glsa_id | default('Unreleased', true) }}</h3>
<form method="post">
	{{ form.hidden_tag() }}
	<div>
		<label>Title</label>
		{{ form.title }}
	</div>
	<div>
		<label>Synopsis</label>
		{{ form.synopsis }}
	</div>
	<div>
		<label>Product Type</label>
		{{ form.product_type }}
	</div>
	<div>
		<label>Announced</label>
		{{ glsa.announced | default('TBD', true) }}
	</div>
	<div>
		<label>Revision Count</label>
		{{ glsa.revision_count | default('0', true) }}
	</div>
	<div>
		<label>Revision Date</label>
		{{ glsa.revised_date | default('', true) }}
	</div>
	<div>
		<label>Bugs</label>
		{{ form.bugs }}
	</div>
	<div>
		<label>Access</label>
		{{ form.access }}
	</div>
	<div>
		<label>Unaffected</label>
		<button type="button" onclick="newrow('unaffected')">New</button>
		<table id="unaffected">
			<tr>
				<th>Atom</th>
				<th>Arch</th>
			</tr>
			{% for pkg in glsa.get_unaffected() %}
			<tr>
				<td>
					<input name="unaffected[]" value="{{ pkg.versioned_atom() }}">
				</td>
				<td><input name="unaffected_arch[]" value="{{ pkg.arch }}"></td>
				<td><button type="button" onclick="deleterow(this)"><b>-</b></button></td>
			</tr>
			{% endfor %}
			<tr>
				<td>
					<input name="unaffected[]">
				</td>
				<td><input name="unaffected_arch[]"></td>
				<td><button type="button" onclick="deleterow(this)"><b>-</b></button></td>
			</tr>
		</table>
	</div>
	<div>
		<label>Vulnerable</label>
		<button type="button" onclick="newrow('vulnerable')">New</button>
		<table id="vulnerable">
			<tr>
				<th>Atom</th>
				<th>Arch</th>
			</tr>
			{% for pkg in glsa.get_vulnerable() %}
			<tr>
				<td>
					<input name="vulnerable[]" value="{{ pkg.versioned_atom() }}">
				</td>
				<td><input name="vulnerable_arch[]" value="{{ pkg.arch }}"></td>
				<td><button onclick="deleterow(this)"><b>-</b></button></td>
			</tr>
			{% endfor %}
			<tr>
				<td>
					<input name="vulnerable[]">
				</td>
				<td><input name="vulnerable_arch[]"></td>
				<td><button onclick="deleterow(this)"><b>-</b></button></td>
			</tr>
		</table>
	</div>
	<div>
		<label>Background</label>
		{{ form.background }}
	</div>
	<div>
		<label>Description</label>
		{{ form.description }}
	</div>
	<div>
		<label>Impact</label>
		{{ form.impact }}
	</div>
	<div>
		<label>Impact Type</label>
		{{ form.impact_type }}
	</div>
	<div>
		<label>Workaround</label>
		{{ form.workaround }}
	</div>
	<div>
		<label>Resolution</label>
		{{ form.resolution }}
	</div>
	<div>
		<label>Resolution Code</label>
		{{ form.resolution_code }}
	</div>
	<div>
		<label>References</label>
		{{ form.references }}
	</div>
	<div>
		<label>Requester</label>
		{{ uid_to_nick(glsa.requester) }}
	</div>
	<div>
		<label>Submitter</label>
		{{ uid_to_nick(glsa.submitter) | default('TBD', true) }}
	</div>
	<div>
		<label>Requested</label>
		{{ glsa.requested_time | default('TBD', true) }}
	</div>
	<div>
		<label>Submitted</label>
		{{ glsa.submitted_time | default('TBD', true) }}
	</div>
	{% if glsa.acked_by and glsa.acked_by != current_user %}
	<div>
		<label>Release?</label>
		{{ form.release }}
	</div>
	{% elif glsa.requester != current_user and not new %}
	<div>
		<label>Ack?</label>
		{{ form.ack }}
	</div>
	{% endif %}
	{{ form.submit }}
</form>
{% endblock %}
