<div class="box">
  <h2>CVEs</h2>
  
  <table class="glsamaker-table">
  <tr align="left">
    <th>ID</th>
    <th>State</th>
    <th>Summary</th>
    <th>CVSS Score</th>
  </tr>
  <%= render :partial => "cve_row", :collection => results, :as => :cve %>
  </table>
</div>