<h2 style="margin-top: 0;">Actions</h2>

<button onclick="new Ajax.Request('/cve/mark_new/', {parameters: { cve_id: cve_id }, onSuccess: function(response) { window.location.reload(); }, onFailure: function(response) { alert('Could not process your request:\n\n' + response.responseText); }});">Mark as NEW</button>

<p>For all other actions, please use the table view.</p>