<strong>
  <input type="checkbox" id="change_summary" value="1" checked="checked" />
  <label for="change_summary">Change summary</label>
</strong>

<p><tt><%= @summary %></tt></p>
<p>(was: <tt><%= @bug.summary %></tt>)</p>

<br />
<strong>
  <input type="checkbox" id="add_comment" value="1" checked="checked" />
  <label for="add_comment">Add comment</label>
</strong>

<p><pre><%= @cve_txt %></pre></p>