<h2 style="margin-top: 0;">Changes</h2>

<ul>
<% @cve.cve_changes.each do |change| %>
  <li>
    <strong><%= change.action %>:</strong> <%= change.object %><br />
    <em>&mdash;<%= change.user.login %></em> @ <%= change.created_at.rfc2822 %>
  </li>
<% end %>
</ul>