<h2 style="margin-top: 0;">References</h2>

<ul>
<% @cve.references.each do |ref| %>
  <li>
    (<%= ref.source %>) <strong><%= ref.title %></strong><br />
    <a href="<%= ref.uri %>" target="_blank"><%= ref.uri %></a>
  </li>
<% end %>
</ul>