body {
  border-left: 6px solid #5B4A73;
  height: 100% !important;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #333;
}

html {
  margin: 0;
  padding: 0;
  background: url(/images/line.png) repeat-y;
  background-repeat: repeat-y;
}

img {
  vertical-align: middle;
}

a img {
  border: none !important;
}

a, a:visited {
  color: #4C3E61;
}

a:hover {
  color: #609317;
}

/* Menu */
#top-menu {
  background-color: #4C3E61; 
  font-size: 10px; 
  position: relative; 
  padding: 0; 
  height: 21px; 
  margin-left: -7px; 
  padding-left: 7px;
}

#top-menu li, #top-menu #loggedas { 
  color: #ddd; 
  line-height: 21px; 
  margin-right: 4px;
}

#top-menu li { 
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#top-menu li a { 
  color: #999; 
  font-weight: normal; 
  padding:4px 5px; 
}

#top-menu li a:hover { 
  color: #fff; 
  text-decoration: none;
}

#top-menu ul {
  margin: 0;
  padding: 0;
}

#top-menu a {
  color: #fff;
  margin-right: 8px;
  font-weight: bold;
}

#top-menu #loggedas {
  float: right;
  margin-right: 0.5em;
  color: #fff;
}

#menu li a { 
  background-color: #5B4A73;
  font-weight: normal;
  padding:4px 8px 6px;
  opacity: 0.6;
}

div#menu li {
  float:left;
  list-style-type:none;
  margin: 0px 2px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}

div#menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px 4px 10px;
}

#menu li a:hover {
  background: #5B4A73;
  color: #fff;
  opacity: 1;
}

#menu li a.selected,
body#new #menu li a.new,
body#requests #menu li a.requests,
body#drafts #menu li a.drafts,
body#archive #menu li a.archive,
body#secunia #menu li a.secunia,
body#cve #menu li a.cve {
  background: #fff;
  color: #555; 
  opacity: 1;
}

div#menu {
  height: 42px;
  background: #4C3E61 url(/images/menubg.png) repeat-x;
  position: relative;
  bborder-bottom: 3px solid #4C3E61;
}

div#menu img.logo {
  float: right;
  border: 0 !important;
}

div#menu ul {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-left: 1em;
  margin-right: 260px;
  list-style: none;
}

div#menu #search {
  position: absolute;
  right: 200px;
  font-size: 80%;
  margin-top: 17px;
}

div#menu #search input {
  font-size: 80%;
}

/* Infobar */
div#infobar {
  background-color: #D3CFE5;
  color: #4C3E61;
  font-size: 95%;
  padding: 0.2em;
  padding-left: 1.5em;
  border-bottom: 1px solid #8875B0;
}

div#infobar span {
  padding-right: 3em;
}

/* Flash notice stuff */
div#flash.notice{
  padding: 0.2em;
  font-size: 95%;
  padding-left: 1.5em;
  background-color: #729FCF;
  border-bottom: 1px solid #1F3F7E;
  color: #1F3F7E;
}

div#flash.error{
  padding: 0.2em;
  font-size: 95%;
  padding-left: 1.5em;
  background-color: #AA7A82;
  border-bottom: 1px solid #A21B24;
  color: #A21B24;
}

/* Sidebar */
div#right {
  float: right;
  width: 252px;
  /*dbackground: #FCAF3E url(img/orangebg.png) repeat-y;*/
  cursor: default;
}

br.clear {
  clear: both;
}

/* Content */
div#content {
  padding: 1em;
  border-right: 1px solid #B2AAC2;
  padding-bottom: 40px;
}

div#content h1 {
  margin-top: -.3em;
  margin-left: -.2em;
  margin-bottom: .3em;
  color: #4C3E61;
  font-size: 15pt;
}

h2 {
  color: #3E3550;
  font-size: 13pt;
}

/* Floating */
img.left, div.left, span.left {
  float: left;
}

.oneemright {
  margin-right: 1em;
}

.oneembottom {
  margin-bottom: 1em;
}

div#footer {
  border-left: 6px solid #5B4A73;
  
  color: #4C3E61;
  border-top: 3px solid #5B4A73;
  background-color: #D3CFE5;

  position: fixed;
  bottom: 0;
  height: 3em;

  font-size: 85%;
  margin-top: .3em;
  margin-left: -6px;
  width: 100%;
  padding: 0.4em;
}

div#footer a {
  color: #4C3E61;
}

div#footer span {
  padding-right: 1.5em;
}

span.hspacer {
  padding-right: 3em;
}

ul#commentslist  {
  list-style-type: none;
}

ul#commentslist li {
  margin-bottom: 8px;
}

/** Tables **/
table {
  border-spacing: 0;
  width: 100%;
}

tr {
  border-spacing: .3em;
}

tr.odd, p.odd {
  background-color: #D3CFE5;
}

td {
  margin: 0;
  border: none;
  padding: .2em;
}

/** boxes **/
div.box, div.legend {
  padding: .4em; 
  background-color: #D3CFE5;
  border-bottom: 1px solid #8875B0;
  margin-bottom: 0.5em;
}

div.legend {
  margin-top: 1em;
}

div.legend h3 {
  margin: 0;
}

div.box h2 {
  color: #3E3550;
  font-size: 11pt;
  margin: 0;
}

div.box span.toolbar {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

div.box p {
  margin: 0;
}
.w40em {
  width: 40em;
}

.w100p {
  width: 100%;
}

/** leftright **/
div#right {
  width: 40%;
  position: fixed;
  top: 100px;
  right: 10px;
}

div#left {
  width: 55%;
}

table.padcells td {
  padding: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table.swap .odd {
  background-color: #E6E5EE;
}

table.centercells th {
  text-align: center;
}

tr.addbug {
  background-color: #D2DEBF;
}

tr.delbug {
  background-color: #AD9095;
}

div.progress {
  display: none;
  position: absolute;
  top: 10%;
  left: 45%;
}

/** Buttons **/
div.buttons {
  padding: 0.4em;
  background-color: #D3CFE5;
  border-bottom: 1px solid #8875B0;
  margin-bottom: 0.5em;
}

a.button, input.button {
  border-top: 1px solid #8875B0;
  border-left: 1px solid #8875B0;
  border-right: 1px solid #5B4A73;
  border-bottom: 1px solid #5B4A73;
  padding: .1em;
  padding-left: .3em;
  padding-right: .3em;
  background: #4C3E61 url(/images/menubg.png) repeat-x;
  font-size: 90%;
  color: white;
  text-decoration: none;
  margin: .3em;
  margin-right: .5em;
}

a.button:hover {
  color: #2B1C4A;
}

a.button:active {
  border-right: 1px solid #8875B0;
  border-bottom: 1px solid #8875B0;
  border-top: 1px solid #5B4A73;
  border-left: 1px solid #5B4A73;
}

a.button img {
  vertical-align: top;
}

/** Form controls **/
form p, form ul#commentslist {
  padding: .5em;
  margin-bottom: .3em;
  margin-top: .3em;
}

form.l label {
  width: 15em;
  float: left;
}

input.text {
  border: 1px solid #4C3E61;
  /*background-color: #D3CFE5;*/
}

textarea.nice, input.nice {
  border: 1px solid #4C3E61;
  width: 100%;
}

.largetext {
  font-size: 150%;
}

.hugetext {
  font-size: 180%;
}

.floatright {
  float: right;
}

.greytext {
  color: #555753;
}

.smalltext {
  font-size: 80%;
}

/** diff **/
.diff_in, .diff_out {
  padding: 0.1em;
}

.diff_in {
  background-color: #A54F5D;
}

.diff_out {
  background-color: #7E9557;
}


/** tables **/

table.glsa-list {
  
}

table.glsa-list th {
  border-bottom: 2px solid #4C3E61;
  border-right: 1px dotted #4C3E61;     
  padding: .5em;
}

table.glsa-list td {
  padding: .5em;
  padding-top: .4em;
  padding-bottom: .4em;
  border-right: 1px dotted #4C3E61;   
  border-bottom: 1px solid #4C3E61;
}

/*@import url("/stylesheets/screen.css");*/
