<div style="text-align: center"><img src="/images/biglogo.png" alt="GLSAMAker 2 logo"/></div>

<div class="box2">
  <h2 style="margin: 0;"><img src="/images/icons/user.png" alt="user" /> Brought to you by&hellip;</h2>
<ul>
  <li><a href="mailto:a3li@gentoo.org">Alex Legler</a></li>
  <li><a href="mailto:py@gentoo.org">Pierre-Yves Rofes</a></li>
</ul>
</div>

<div class="box2">
  <h2 style="margin: 0;"><img src="/images/icons/reference.png" alt="reference" /> License</h2>
<p>Copyright &copy; 2009 Gentoo Foundation, Inc.</p>
<p>Copyright &copy; 2009 Alex Legler</p>
<p>Copyright &copy; 2009 Pierre-Yves Rofes</p>
<p>&nbsp;</p>
<p>GLSAMaker 2 is free software: you can redistribute it and/or modify it under the terms of the <strong>GNU Affero General Public License</strong>
  as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
</div>

<div class="box2">
  <h2 style="margin: 0;"><img src="/images/icons/comment.png" alt="comment" /> Acknowledgements</h2>

<p>GLSAMaker2 uses the <a href="http://www.famfamfam.com/lab/icons/silk">"Silk" iconset</a> by Mark James. Licensed under the CC Attribution 3.0 License.</p>
<p>GLSAMaker2 uses the <a href="http://www.pinvoke.com/">"Fugue" iconset</a> by Yusuke Kamiyamane. Licensed under the CC Attribution 3.0 License.</p>

</div>