<h1>Welcome to GLSAMaker!</h1>

<p>This is most likely your first visit.</p>
<p>While your user name and password were entered into the HTTP authentication database,
your account was not yet populated to the internal GLSAMaker database.</p>
<p>Either retry in a few minutes or get in touch with the administrative contact 
(<%= h GLSAMAKER_ADMIN_EMAIL %>) to fix this issue.</p>
