<h1>Fatal error</h1>

<p><strong>Couldn't get user authentication data.</strong></p>
<p><small>Ruby on Rails is running in the <em>production</em> environment.<br />
In this environment, GLSAMaker recieves the name of the logged in user via the
REMOTE_USER or HTTP_AUTHORIZATION variables which <strong>both are empty.</strong></small></p>
<p>Please get in touch with the administrative contact 
(<%= h GLSAMAKER_ADMIN_EMAIL %>) to fix this issue.</p>
