<h1>Welcome to GLSAMaker2!</h1>

<div class="box">
  <h2>My last 10 drafts</h2>
  
  <table class="glsa-list">
  <tr align="left">
    <th>ID</th>
    <th>State</th>
    <th>Title</th>
    <th>Submitted at/by</th>
    <th>Bug IDs</th>
    <% if current_user.is_el_jefe? %><th>Admin</th><% end %>
  </tr>

  <%= render :partial => "glsa/glsa_row", :collection => @my_drafts, :as => :glsa, :locals => { :view => :drafts } %>
  </table>
</div>