# GLSAMaker local configuration
# rename this file to glsamaker.rb

# The development environment uses self-issued HTTP basic authentication
# Since GLSAMaker doesn't track passwords, set a password here for usage e.g.
# in ./script/server testing environments. The password applies to every user
GLSAMAKER_DEVEL_PASSWORD = "changeme"

# If you want to force GLSAMaker to use production-style auth in all
# environments, set this to true
GLSAMAKER_FORCE_PRODUCTION_AUTH = false

# Email address of the administrative contact
GLSAMAKER_ADMIN_EMAIL = "security@gentoo.org"

# Location of the Portage tree, set to false if you are not running on Gentoo.
GLSAMAKER_PORTDIR = "/usr/portage/"

# Bugzilla login info
GLSAMAKER_BUGZIE_USER = nil
GLSAMAKER_BUGZIE_PW = nil

# Location of xmlindent(1)
GLSAMAKER_XMLINDENT = "/usr/local/bin/xmlindent"