  <div class="box" id="comments" style="margin-bottom: 4em;">
    <%= box_title('Comments', :icon => 'icons/comment.png',
        :toolbar => [
                {:title => 'Add comment', :uri => "javascript:addCommentDialog(#{@glsa.id})", :icon => 'icons/plus.png'},
                {:title => 'Dock right', :uri => "javascript:GLSAMaker.misc.ui.dock($('comments'))", :icon => 'icons/dock-right.png'}
        ]
        ) %>
    <ul id="commentslist">
      <%= render :partial => "comment", :collection => @glsa.comments %>
    </ul>
  </div>
