<% if @glsa_id.nil? %>
<p>Need a GLSA id.</p>
<% else %>
<% form_remote_tag (
        :url => addbugsave_url(:id => @glsa_id.to_s),
        :update => {:success => 'bugtable'},
        :position => :bottom,
        :before => '$("addbugsubmit").value="Loading...";',
        :after  => '$("addbugsubmit").value="Add bugs";',
        :success => 'Modalbox.hide();',
        :failure => 'alert(request.responseText);') do -%>
<p><label for="addbugs"><img src="/images/icons/bug.png" alt="bug" />
  Please enter the relevant bug ID(s), separate more than one bug with a comma:</label></p>

<p><input type="text" name="addbugs" id="addbugs" class="hugetext nice"/></p>
<%= observe_field :addbugs, :url => { :controller => 'tools', :action => 'ajaxbugs' },
                :frequency => 2,
                :update => :ajaxbugs,
                :with => 'bugs',
                :complete => 'Modalbox.resizeToContent();' %>
<div id="ajaxbugs"></div>
<p style="text-align: right;"><input type="submit" class="button" value="Add bugs" id="addbugsubmit" /></p>
<% end -%>

<% end %>