<% if @glsa_id.nil? %>
<p>Need a GLSA id.</p>
<% else %>
<% form_remote_tag (
        :url => addcommentsave_url(:id => @glsa_id.to_s),
        :update => {:success => 'commentslist'},
        :position => :bottom,
        :before => '$("addcommentsubmit").value="Loading...";',
        :after  => '$("addcommentsubmit").value="Add comment";',
        :success => 'Modalbox.hide();',
        :failure => 'alert(request.responseText);') do -%>
<p><label for="addcomment"><img src="/images/icons/comment.png" alt="bug" />
  Please enter your comment:</label></p>

  <% fields_for :newcomment do |f| %>
    <p>
      <%= f.text_area :text, :class => "nice", :rows => 2 %>
    </p>
    
    <div align="right">
      Rating:
      <%= f.radio_button :rating, "approval" %><img src="/images/icons/unaffected.png" alt="Approval" title="Approval" /> &nbsp;
      <%= f.radio_button :rating, "rejection" %><img src="/images/icons/affected.png" alt="Rejection" title="Rejection" /> &nbsp;
      <%= f.radio_button :rating, "neutral", :checked => true %><img src="/images/icons/reference.png" alt="Neutral" title="Neutral" />        
    </div>
  <% end %>

<p style="text-align: right;"><input type="submit" class="button" value="Add comment" id="addcommentsubmit" /></p>
<% end -%>

<% end %>