<h1>Released GLSAs</h1>

<table class="glsamaker-table">
<tr align="left">
  <th>ID</th>
  <th>State</th>
  <th>Title</th>
  <th>Last changed at/by</th>
  <!--<th>Bug IDs</th>-->
  <% if current_user.is_el_jefe? %><th>Admin</th><% end %>
</tr>

<%= render :partial => "glsa_row", :collection => @glsas, :as => :glsa, :locals => { :view => :drafts } %>
</table>

<%= render :partial => "status_legend" %>
