<h1>Released GLSAs</h1>

<table>
<ul id="glsas">
<tr align="left">
  <th>ID</th>
  <th>Title</th>
  <th>Release date</th>
  <th>Bug IDs</th>
</tr>
<% @glsas.each do |g| %>
<tr>

<td><%= g.glsa_id %></td>
<td><%= link_to g.last_revision.title, {:action => 'show', :id => g}-%></td>
<td><%= g.updated_at %></td>

<td>
<% if g.last_revision and (@bugs = g.last_revision.bugs) -%>
<%= @bugs.map {|b| b.bug_id}.join(', ') %>

<% end -%>
</td>

</tr>
<% end %>
</ul>
</table>
