<h1>Pooled GLSA Announcements</h1>
<p>Find me in app/views/glsa/index.html.erb</p>

<table>
<ul id="glsas">
<tr align="left">
  <th>Bugs id</th>
  <th>Last updated</th>
  <th>Title</th>
</tr>
<% @glsas.each do |g| %>
<tr>
<% @rev = g.revisions[g.revisions.length - 1] %>

<td>
<% @bugs = @rev.bugs %>
<% @bugs.each do |b| %>
<%= b.bug_id %>
<% end %>
</td>
<td> date </td>

<td><%= link_to @rev.title, {:action => 'show', :id => g.id}-%> <%= link_to "edit", {:action => 'edit', :id => g.id}-%></li></td>
</tr>
<% end %>
</ul>
</table>
