<h1>Pooled GLSA Announcements</h1>

<table>
<ul id="glsas">
<tr align="left">
  <th>Bugs id</th>
  <th>Last updated</th>
  <th>Title</th>
</tr>
<% @glsas.each do |g| %>
<tr>

<td>
<% if g.last_revision and (@bugs = g.last_revision.bugs) %>
<% @bugs.each do |b| %>
<%= b.bug_id %>
<% end %>
<% end %>
</td>
<td> date </td>


<td><%= link_to g.last_revision.title, {:action => 'show', :id => g.id }-%> <%= link_to "edit", {:action => 'edit', :id => g.id}-%></li></td>

</tr>
<% end %>
</ul>
</table>
