<h1>New GLSA request</h1>

<% form_tag(:action => "create") do %>
<div class="buttons" style="padding: 1em; display: inline-block; width: 40em;">
  <input type="hidden" name="what" value="request" />
  <h2 style="margin-top: 0;"><img src="/images/icons/bug.png" alt="bug" /> Bugs</h2>
  <p><label for="bugs">Please enter the relevant bug ID(s), separate more than one Bug with a comma:</label></p>

  <p><input type="text" name="bugs" id="bugs" class="hugetext nice"/></p>
  <%= observe_field :bugs, :url => { :controller => 'tools', :action => 'ajaxbugs' },
                  :frequency => 2,
                  :update => :ajaxbugs,
                  :with => 'bugs' %>
  <%= observe_field :bugs, :url => { :controller => 'tools', :action => 'ajaxdescr' },
                  :frequency => 2,
                  :update => :suggesteddescr,
                  :with => 'bugs' %>
  <div id="ajaxbugs"></div>
</div>
<br />
<div class="buttons" style="padding: 1em; display: inline-block; width: 40em;">
  <h2 style="margin-top: 0;"><img src="/images/icons/edit.png" alt="description" /> Description</h2>
  <p><label for="description">Either take the suggested description or enter a new custom one:</label></p>
  <div id="suggesteddescr"></div>
  <p><textarea name="description" id="description" class="largetext nice" rows="2"></textarea></p>
  
</div>
<br />
<div class="buttons" style="padding: 1em; display: inline-block; width: 40em;">
  <h2 style="margin-top: 0;"><img src="/images/icons/comment.png" alt="comment" /> Comment <small>(optional)</small></h2>
  <p><label for="comment">If you want to add a comment, enter it here:</label></p>
  <p><textarea name="comment" id="comment" class="nice" rows="2"></textarea></p>
</div>
<br />
<%- if current_user.access >= 1 -%>
<div class="buttons" style="padding: 1em; display: inline-block; width: 40em;">
  <h2 style="margin-top: 0;"><img src="/images/icons/permission.png" alt="permission" /> Permissions</h2>
  <p><label for="access">Mark this request as</label>: 
    <select name="access" id="access">
      <option value="public" selected="selected">public</option>
      <option value="confidential">confidential</option>
    </select>
  </p>
</div>
<br />
<%- end -%>
<div style="width: 40em; text-align: right; display: inline-block;">
  <input type="submit" class="button" value="File request &raquo;"/>
</div>
<% end -%>