<h1>New&hellip;</h1>

<div class="buttons" style="padding: 1em; display: inline-block;">
<p>File a request for others to draft&hellip;</p>
<p style="margin-bottom: 5em;"><a href="/glsa/new/request" class="button" style="padding: .4em; margin: .5em; font-size: 150%">
  <img src="/images/icons/glsa_request.png" alt="Requests" style="vertical-align: middle;" /> File a new request</a></p>
  
<p>&hellip; or start drafting right away:</p>
  <p><a href="/glsa/new/draft" class="button" style="padding: .4em; margin: .5em; font-size: 150%">
    <img src="/images/icons/glsa_draft.png" alt="Draft" style="vertical-align: middle;" /> File a new draft</a></p>
</div>