<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" .}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12">


            <h1>Reset Password of {{.UserNick}}?</h1>

            <div class="row">

                <div class="mx-auto">
                    <form action="/admin/edit/password/reset/{{.UserId}}" method="POST">
                        <a href="/admin" class="btn btn-outline-danger">No</a>
                        <button type="submit" class="btn btn-success">Yes</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>



{{template "footer" .}}


</body>
</html>
