table.user-table span.user-login {
  font-size: 110%;
  line-height: 90%;
  font-weight: bold;
  letter-spacing: 1pt;
}


table.user-table span.user-name {
  font-size: 90%;
}  

table.user-table span.user-email {
  color: #555;
  font-size: 90%;
}

.fieldWithErrors {
  background-color: #A40000;
  display: table;
  padding: 2px;
}

#errorExplanation {
  border: 2px solid #A40000;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #A40000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul {
  margin-bottom: 0;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}