.cvename {
  font-weight: bold;
}

.cve-new {
  color: #A40000;
}

.cve-assigned {
  color: #4E9A06;
}

.cve-nfu {
  color: #204A87;
}

.cve-later {
  color: #5C3566;
}

.cve-invalid {
  color: #CCC;
}