<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><% if @pageTitle%><%= @pageTitle %> &mdash; <% end %>GLSAMaker 2</title>
  <%= stylesheet_link_tag "login" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="outer">
  <div id="middle">
    <div id="inner">
      <div id="login-form">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>