<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
{{template "header" .}}

<div class="container mb-5">
    <div class="row">
        <div class="col-12">

            <h1>About the Command Line Tool</h1>

            <div class="px-5 py-3">

                <div class="alert alert-info" role="alert">
                    The command line tool is coming soon.
                </div>

            </div>

        </div>
    </div>
</div>



{{template "footer" .}}

</body>
</html>
